@import url('https://fonts.googleapis.com/css?family=Limelight|Six+Caps');

h1 {
    font-family: 'Limelight', cursive;  
    font-size: 5em;
    text-align: center;
    background-color: #64888A;
    color: #B4AC7D;
    text-shadow: 2px 4px #212127;
    margin-top: 15px; 
    margin-bottom: 10px;
}
 body {
    font-family: 'Six Caps', sans-serif;
    text-align: center;
 }
 #coin-image {
     margin-top: -50px; 
 }
#message {
    background-color: #64888A;
    color: #212127;
    font-size: 3em;
    margin-top: -10px;
}
label {
    font-size: 2em;
}
 button {
    font-family: 'Limelight', cursive;
    font-size: 4em;
    height: 170px;
    width: 300px;
    background-color: #212127;
    color: #B4AC7D;
    text-shadow: 1.75px 3px #FAFAFA;
    margin: -20px;
 }
.results {
    font-size: 3.5em;
    color: #212127;
    margin-top: 20px;
}


 
 